:root {
  /* Line Highlights */
  --highlight-background: #F7EBC6;
  --highlight-accent: #F7D87C;

  /* Inline Code */
  --inline-code-color: #68BC50;
  --inline-code-background: #274E63;

  /* Code Blocks */
  --block-background: #0D2831;
  --base-color: #5C6E74;
  --selected-color: #B3D4FC;

  /* Tokens */
  --comment-color: #93A1A1;
  --punctuation-color: #999999;
  --property-color: #D00D74;
  --selector-color: #669900;
  --operator-color: #36cbc8;
  --operator-background: #1d1f21;
  --variable-color: #EE9900;
  --function-color: #DD4A68;
  --keyword-color: #0077AA;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  background-color: #F8F8FF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="color"] {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-wrapper {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  border-radius: 5px;
  margin: 0 6px 6px 0;
  height: 40px;
  width: 40px;
}

/* Header */

header {
  margin-bottom: 2rem;
}

header h1 {
  font-size: 3rem;
}

header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

header p {
  font-size: 1.2rem;
}

#prism-link {
  text-decoration: none;
  color: rgb(181, 184, 25);
}

/* Color Picker List */

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.color-picker {
  width: 100%;
  padding: 2rem;
  color: #f2f3f4;
  background: #091114;
  overflow-y: scroll;
}

.color-picker__list li {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 5% 5% 0;
  /* white-space: nowrap; */
}

.color-picker__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  align-items: center;
  margin-bottom: 2rem;
}

/* Code Preview */

.code-preview__examples {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 2em;
  padding: 2rem;
  overflow-y: scroll;
}

.code-preview__label {
  font-size: 1.3rem;
  font-weight: bold;
}

/* Download Button */

#download-btn {
  position: fixed;
  bottom: 2rem;
  right: 1rem;

  color: white;
  background: rgb(10, 88, 119);
  padding: 15px;
  text-decoration: none;
  z-index: 99;
}

#download-btn:hover {
  background: rgb(9, 67, 90);
}

/* Media Queries */

@media screen and (max-width: 750px) {
  .main-wrapper {
    grid-template-columns: 1fr;
    height: 100%;
  }

  header h1 {
    font-size: 2.4rem;
  }

  header h2 {
    font-size: 1.6rem;
  }

  header p {
    font-size: 1.1rem;
  }

  .color-picker, .code-preview__examples {
    overflow: hidden;
  }

  .color-picker__list li > label {
    align-self: center;
  }
}